<div style="display: flex;flex-direction: row;align-items: center;" (mouseenter)="showIcon()" (mouseleave)="hideIcon()">
    <div [ngStyle]="{'max-width':maxWidth}" style="text-overflow: ellipsis; overflow: hidden;" title="{{inputValue}}">
        {{(inputValue!==undefined || inputValue!==null) ?inputValue:''}}</div>
    <mat-icon *ngIf="inputValue"
        [ngStyle]="{'visibility':displayEdit,'width':iconSize,'height':iconSize, 'font-size':iconSize}"
        [color]="'primary'" (click)="doCopy($event)" style="padding-left: 4px;cursor: pointer;">content_copy
    </mat-icon>
</div>