<!-- <h2 class="flex-row-space-between">{{projectSvc.resolveNameById(projectId)}} / {{'MY_POSITION_DASHBOARD' |translate}}<button
        mat-fab color="primary" (click)="openBottomSheet()">{{'ADD'|translate}}</button></h2> -->
<app-search (search)="doSearch($event)" [searchConfigs]="searchConfigs">
</app-search>
<div style="display: flex;flex-direction: row;align-items: center;height: 56px; justify-content: space-between;">
    <section>
        <mat-slide-toggle #batchUpdate class="example-margin" [color]="'accent'" [checked]="'false'"
            style="margin-right: 16px;" (click)="showOptions()">
            {{'BATCH_OPERATION'|translate}}
        </mat-slide-toggle>
        <ng-container *ngIf="batchUpdate.checked">
            <button mat-raised-button color="primary" (click)="doBatchDelete()">{{'BATCH_DELETE'|translate}}</button>
        </ng-container>
    </section>
    <app-table-column-config [formId]="formId" [columns]="getColumnLabelValue()"></app-table-column-config>
</div>