<mat-icon style="text-align: right;padding-top: 8px;cursor: pointer;width:100%" (click)="dismiss($event)">close
</mat-icon>
<lib-factory [formId]="formId"></lib-factory>
<div class="form-header">{{'ALLOWED_ORIGIN'|translate}}</div>
<lib-factory [formId]="originFormId"></lib-factory>
<div class="form-header">{{'ALLOWED_HEADERS'|translate}}</div>
<lib-factory [formId]="allowedHeaderFormId"></lib-factory>
<div class="form-header">{{'EXPOSED_HEADERS'|translate}}</div>
<lib-factory [formId]="exposedHeaderFormId"></lib-factory>