<h2>mt-access</h2>
<table>
    <tbody >
        <tr>
            <th>Error Code</th>
            <th>Explain</th>
        </tr>
        <ng-container *ngFor="let e of data">
            <tr>
                <td>{{e.code}}</td>
                <td>{{e.explain}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<h2>mt-common</h2>
<table>
    <tbody >
        <tr>
            <th>Error Code</th>
            <th>Explain</th>
        </tr>
        <ng-container *ngFor="let e of dataCommon">
            <tr>
                <td>{{e.code}}</td>
                <td>{{e.explain}}</td>
            </tr>
        </ng-container>
    </tbody>
</table>