<h2 class="flex-row-space-between">{{'AUTH_CENTER' |translate}} / {{'DASHBOARD' |translate}}</h2>
<div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
    <div style="margin-right: 16px;">{{'TOTOAL_PROJECTS_REGISTERED'|translate}}</div>
    <div>{{summary?.totalProjects}}</div>
</div>
<div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
    <div style="margin-right: 16px;">{{'TOTOAL_CLIENTS_REGISTERED'|translate}}</div>
    <div>{{summary?.totalClients}}</div>
</div>
<div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
    <div style="margin-right: 16px;">{{'TOTOAL_EP_REGISTERED'|translate}}</div>
    <div>{{summary?.totalEndpoint}}</div>
</div>
<div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
    <div style="margin-right: 16px;">{{'TOTOAL_SHARED_EP_REGISTERED'|translate}}</div>
    <div>{{summary?.totalSharedEndpoint}}</div>
</div>
<div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
    <div style="margin-right: 16px;">{{'TOTOAL_PUBLIC_EP_REGISTERED'|translate}}</div>
    <div>{{summary?.totalPublicEndpoint}}</div>
</div>
<div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
    <div style="margin-right: 16px;">{{'TOTOAL_USER_REGISTERED'|translate}}</div>
    <div>{{summary?.totalUser}}</div>
</div>