<div style="display: flex; justify-content: end;">
    <button mat-button color="primary" (click)="dismiss($event)">
        <mat-icon>close </mat-icon>
    </button>
</div>
<lib-factory [formId]="formId"></lib-factory>
<button mat-raised-button color="primary" *ngIf="data.context === 'edit'" class="app-btn"
    (click)="update()">{{'UPDATE'|translate}}</button>
<button mat-raised-button color="primary" class="app-btn"
    (click)="create()"
    *ngIf="data.context === 'clone' || data.context === 'new'" >{{'CREATE'|translate}}</button>