<div class="default-form-background">
    <button (click)="router.navProjectRoutersDashboard()" mat-button
        style="padding-left: 8px; margin-bottom: 12px; margin-left: -8px;">
        <mat-icon>arrow_back_ios</mat-icon> <span style="font-size: 16px;">{{'BACK'|translate}}</span>
    </button>
    <form [formGroup]="fg" style="margin-top: 24px;">
        <mat-form-field>
            <mat-label>{{'NAME'| translate}}<span class="mat-required">*</span></mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <div style="font-size: 12px; color: red; margin-top: -8px;">{{nameErrorMsg|translate}}</div>
        <mat-form-field>
            <mat-label>{{'DESCRIPTION'| translate}}</mat-label>
            <input matInput formControlName="description">
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{'ENTER_PATH'| translate}}<span class="mat-required">*</span></mat-label>
            <input matInput formControlName="path">
        </mat-form-field>
        <div style="font-size: 12px; color: red; margin-top: -8px;">{{pathErrorMsg|translate}}</div>
        <mat-form-field>
            <mat-label>{{'ENTER_EXTERNAL_URL'| translate}}<span class="mat-required">*</span></mat-label>
            <input matInput formControlName="externalUrl">
        </mat-form-field>
        <div style="font-size: 12px; color: red; margin-top: -8px;">{{externalUrlErrorMsg|translate}}</div>
    </form>
    <div style="display: flex; justify-content: center; margin-top: 36px;">
        <button mat-raised-button color="primary" (click)="update()" style="width: 150px;"
            *ngIf="context === 'EDIT'">{{'UPDATE'|translate}}</button>
        <button mat-raised-button color="primary" (click)="create()" style="width: 150px;"
            *ngIf="context === 'NEW'">{{'CREATE'|translate}}</button>

    </div>
</div>