<mat-icon style="text-align: right;padding-top: 8px;cursor: pointer;width:100%" (click)="dismiss($event)">close</mat-icon>
<lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
<lib-factory [formId]="formIdCatalog" [formInfo]="formInfoCatalog"></lib-factory>

<lib-factory [formId]="formIdFilter" [formInfo]="formInfoFilter"></lib-factory>
<button mat-raised-button color="primary" *ngIf="aggregate" class="app-btn"
    (click)="update()">{{'UPDATE'|translate}}</button>
<button mat-raised-button color="primary" class="app-btn"
    (click)="create()"
    *ngIf="!aggregate">{{'CREATE'|translate}}</button>