<h3 style="text-align: center;">{{'APP_NAME'|translate}}</h3>
<h4 style="text-align: center;">{{'APP_DESCRIPTION_1'|translate}}</h4>
<div style="text-align: center;">{{'APP_DESCRIPTION_2'|translate}}</div>
<div style="display: flex;justify-content: right; margin-bottom: 16px; align-items: flex-end;">
    <div style="font-size: 12px; margin-right: 8px;">{{'PLS_LIKE'|translate}}</div><a href="https://github.com/publicdevop2019/mt-auth">GitHub</a>
</div>
<div style="display: flex;justify-content: right; margin-bottom: 16px; align-items: flex-end;">
    <div style="font-size: 12px; margin-right: 8px;">{{'MIRROR'|translate}}</div><a href="https://gitee.com/mirrors/MT-AUTH">Gitee</a>
</div>
<div style="display: flex;justify-content: right; margin-bottom: 16px; align-items: flex-end;">
    {{'RAISE_ISSUE'|translate}}
</div>