<mat-dialog-content>
    <div  style="width: 400px;">

        <label style="font-weight: 700;" id="example-radio-group-label">{{'CHECK_REPORT'|translate}}</label>
        <mat-radio-group aria-label="Select an option" [formControl]="ctrl" class="example-radio-group">
            <mat-radio-button class="example-radio-button"
                value="PAST_FIFTEEN_MINUTES">{{'LAST_FIFTEEN_MINUTES'|translate}}</mat-radio-button>
            <mat-radio-button class="example-radio-button"
                value="PAST_ONE_HOUR">{{'LAST_ONE_HOUR'|translate}}</mat-radio-button>
            <mat-radio-button class="example-radio-button"
                value="PAST_ONE_DAY">{{'LAST_ONE_DAY'|translate}}</mat-radio-button>
            <mat-radio-button class="example-radio-button" value="ALL_TIME">{{'ALL_TIME'|translate}}</mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="result">
    
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>{{'CRITERIA_KEY'|translate}}</th>
                    <td mat-cell *matCellDef="let row"> {{row.key|translate}} </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef> {{'CRITERIA_VALUE'|translate}}</th>
                    <td mat-cell *matCellDef="let row"> {{getValue(row.key)}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
    </div>

</mat-dialog-content>
<mat-dialog-actions style="justify-content: space-around;">
    <button (click)="onDismiss()" mat-raised-button [color]="'primary'">{{'CLOSE'|translate}}</button>
</mat-dialog-actions>