
<h2 class="flex-row-space-between">{{'AUTH_CENTER' |translate}} / {{'JOB_STATUS' |translate}}</h2>


<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> {{'NAME'|translate}} </th>
      <td mat-cell *matCellDef="let row">
        {{row.name |translate}}
      </td>
    </ng-container>
    <ng-container matColumnDef="lastExecution">
      <th mat-header-cell *matHeaderCellDef> {{'LAST_EXE_TIME'|translate}} </th>
      <td mat-cell *matCellDef="let row">
        {{row.lastExecution}}
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> {{'JOB_ACTION'|translate}} </th>
      <td mat-cell *matCellDef="let row">
        <button *ngIf="row.name==='DATA_VALIDATION'" mat-raised-button color="primary"
        (click)="resetJob()">{{'RESET_JOB'|translate}}</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>