<div class="default-form-background">
    <button (click)="goToClientDashboard()" mat-button
        style="padding-left: 8px; margin-bottom: 12px; margin-left: -8px;">
        <mat-icon>arrow_back_ios</mat-icon> <span style="font-size: 16px;">{{'BACK'|translate}}</span>
    </button>
    <lib-factory [formId]="formId"></lib-factory>
    <div style="display: flex; justify-content: end;">
        <button mat-raised-button color="primary" (click)="update()"
            *ngIf="data.context === 'edit'">{{'UPDATE'|translate}}</button>
        <button mat-raised-button color="primary" (click)="create()"
            *ngIf="data.context === 'new' || data.context === 'clone'">{{'CREATE'|translate}}</button>

    </div>
</div>