<div class="example-container">
    <h2>{{'SUB_API'|translate}}</h2>
    <div class="form-wrapper">
        <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
        <button *ngIf="isCreate()" mat-raised-button color="primary" style="margin-bottom: 20px;margin-top: 20px;"
            (click)="create()">{{'SUBSCRIBE'|translate}}</button>
        <button *ngIf="!isCreate()" mat-raised-button color="primary" style="margin-bottom: 20px;margin-top: 20px;"
            (click)="update()">{{'UPDATE'|translate}}</button>
    </div>
</div>