<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="example-toolbar" style="justify-content: space-between; padding: 0px;"
        [style.height.px]="deviceSvc.topBar">
        <div style="display: flex;align-items: center;">
            <button mat-icon-button (click)="snav.toggle();">
                <mat-icon>{{snav.opened?'menu_open':'menu'}}</mat-icon>
            </button>
            <img *ngIf="avatar" mat-card-avatar [src]="avatar"
                style="height: 24px; width: 24px; margin-right: 8px; border-radius: 50%;" />
            <div style="font-size: 14px;"><span style="padding-right: 8px;">{{'WELCOME_MSG'|translate}}</span>{{name}}
            </div>
        </div>
        <div>
            <button mat-button [matMenuTriggerFor]="userMenu" (click)="userMsgSvc.clone()">
                <mat-icon matBadge="{{bellCount(userMsgSvc.latestMessage)}}" matBadgeOverlap="false"
                    matBadgeSize="small" matBadgeColor="accent">notifications_none
                </mat-icon>
            </button>
            <button *ngIf="hasAuth()" mat-button [matMenuTriggerFor]="menu" (click)="msgSvc.clone()">
                <mat-icon matBadge="{{bellCount(msgSvc.latestMessage)}}" matBadgeOverlap="false" matBadgeSize="small"
                    matBadgeColor="warn">notifications_none
                </mat-icon>
            </button>
        </div>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
        <ng-container *ngIf="msgSvc.latestMessage.length===0">
            <div style="text-align: center;margin-top: 10px;">{{'NO_MSG'|translate}}</div>
        </ng-container>
        <ng-container *ngIf="msgSvc.latestMessage.length!==0">
            <ng-container *ngFor="let el of filterDuplicate(msgSvc.latestMessage); let i = index">
                <app-card-notification [value]="el" [length]="msgSvc.latestMessage.length"
                    [index]="i" (onAck)="msgSvc.dismiss($event)"></app-card-notification>
            </ng-container>
        </ng-container>
    </mat-menu>
    <mat-menu #userMenu="matMenu">
        <ng-container *ngIf="userMsgSvc.latestMessage.length===0">
            <div style="text-align: center;margin-top: 10px;">{{'NO_MSG'|translate}}</div>
        </ng-container>
        <ng-container *ngIf="userMsgSvc.latestMessage.length!==0">
            <ng-container *ngFor="let el of filterDuplicate(userMsgSvc.latestMessage); let i = index">
                <app-card-notification [value]="el" [length]="userMsgSvc.latestMessage.length" [index]="i"
                    (onAck)="userMsgSvc.dismiss($event)"></app-card-notification>
            </ng-container>
        </ng-container>
    </mat-menu>
    <mat-sidenav-container class="example-sidenav-container"
        [style.marginTop.px]="mobileQuery.matches ? deviceSvc.topBar : 0">
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
            [opened]="navExpand('side_bar')" (opened)="openedHandler('side_bar')" (closed)="closedHander('side_bar')"
            [fixedTopGap]="deviceSvc.topBar" style="width: 256px;">
            <mat-nav-list>
                <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active"
                    style="font-size: 14px;" [queryParams]="nav.params" *ngFor="let nav of menuTop">
                    <mat-icon style="padding-right:8px" *ngIf="nav.icon">{{nav.icon}}</mat-icon>{{nav.display|
                    translate}}
                </mat-list-item>
            </mat-nav-list>
            <mat-expansion-panel (opened)="openedHandler('api_nav')" (closed)="closedHander('api_nav')"
                [expanded]="navExpand('api_nav')">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 600;">
                        {{'ENDPOINT_CENTER'| translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active"
                        [preserveFragment]="true" style="font-size: 14px;" [queryParams]="preserveURLQueryParams(nav)"
                        *ngFor="let nav of menuEp">
                        <mat-icon style="padding-right:8px;">{{nav.icon}}</mat-icon>
                        {{nav.display| translate}}
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="openedHandler('admin_nav')" (closed)="closedHander('admin_nav')"
                *ngIf="hasAuth()" [expanded]="navExpand('admin_nav')">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 600;">
                        {{'AUTH_CENTER'| translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active"
                        [preserveFragment]="true" style="font-size: 14px;" [queryParams]="preserveURLQueryParams(nav)"
                        *ngFor="let nav of menuMgmt">
                        <mat-icon style="padding-right:8px;">{{nav.icon}}</mat-icon>
                        {{nav.display| translate}}
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-expansion-panel *ngFor="let project of projectSvc.totalProjects" (opened)="openedHandler(project.id)"
                (closed)="closedHander(project.id)" [expanded]="navExpand(project.id)">
                <mat-expansion-panel-header>
                    <mat-panel-title style="font-weight: 600;">
                        {{project.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <ng-container *ngFor="let nav of menuTenant">
                        <mat-list-item mat-list-item [routerLink]="project.id+'/'+nav.link"
                            routerLinkActive="nav-active" [preserveFragment]="true" style="font-size: 14px;"
                            [queryParams]="preserveURLQueryParams(nav)"
                            *appRequireP="getPermissionId(project.id,nav.authName) | async">
                            <mat-icon style="padding-right:8px;">{{nav.icon}}</mat-icon>
                            {{nav.display| translate}}
                        </mat-list-item>
                    </ng-container>
                </mat-nav-list>
            </mat-expansion-panel>

            <mat-nav-list>
                <mat-list-item mat-list-item [routerLink]="nav.link" routerLinkActive="nav-active"
                    style="font-size: 14px;" [queryParams]="nav.params" *ngFor="let nav of menuMisc">
                    <mat-icon style="padding-right:8px">{{nav.icon}}</mat-icon>{{nav.display| translate}}
                </mat-list-item>
            </mat-nav-list>
            <mat-nav-list>
                <mat-list-item mat-list-item style="font-size: 14px;" (click)="doLogout()">
                    <mat-icon style="padding-right:8px">exit_to_app</mat-icon>{{'LOGOUT'| translate}}
                </mat-list-item>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content [style.padding-left.px]="mobileQuery.matches ? 15 : 30"
            [style.padding-right.px]="mobileQuery.matches ? 15 : 30">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>