<div class="auth-container">
    <mat-card class="auth-card">
        <mat-card-header>
            <mat-card-title>{{authorizeParty.client_id}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{'AUTH_MSG_1'|translate}}{{authorizeParty.client_id}}{{'AUTH_MSG_2'|translate}}
            </p>
        </mat-card-content>
        <mat-card-actions class="auth-card-action">
            <button mat-raised-button color="warn" style="margin-bottom: 20px;margin-top: 20px;"
                (click)="authorize()">{{'AUTH_BTN_1'|translate}}</button>
            <button mat-raised-button color="primary" style="margin-bottom: 20px;margin-top: 20px;"
                (click)="decline()">{{'AUTH_BTN_2'|translate}}</button>
        </mat-card-actions>
    </mat-card>
</div>