.auth-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    position: fixed;
    width: 100%;
    align-items: center;
  }
  
  .auth-container > * {
    width: 100%;
  }
  .auth-card {
    max-width: 400px;
    max-height: 200px;
  }
  
  .auth-card-action{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }