.example-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .example-card-action{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }