<h1>API管理</h1>
<h2>API分类依据</h2>
- 是否对外开放
    - 决定了API的访问途径
- 是否需要验证
    - 决定了API访问时是否需要用户登录
- 是否与其他团队共享
    - 决定了是否需要参与生命周期管理，即API过期时订阅者会收到通知
<h2>具体类别</h2>
- 内部API，团队后端内部使用，通过eureka直接调用，无API监控，鉴权，限流
- 外部公开external public（对web开放，允许任意人任意调用，例如静态资源，图片，字体, 对IP限流）
    - 共享（享受API生命周期管理）
- 外部保护external protected（对web开放，需要验证，有API监控与鉴权，对用户限流）
    - 共享（享受API生命周期管理）
<h2>API共享</h2>
在创建API时您可以选择将其共享，您的API将会在API市场中出现，并且允许他人提交订阅请求
<h2>API过期</h2>
共享API无法像普通API那样被直接删除，您需要先将其设定为过期，这样您API的订阅者会收到过期通知，然后您可以执行删除操作
<h2>API订阅</h2>
您可以订阅API市场中的API，通过提交订阅请求并等待批注后，您可以按照申请的额度来消费