<div style="display: flex; justify-content: space-between; margin-top: 16px;">
    <div>
        <div style="font-size: 32px; margin: 8px 0px 16px 0px; font-weight: 700; line-height: 32px;">
            {{'MY_PERMISSION_DASHBOARD'|translate}}
        </div>
        <div style="margin: 0px 0px 16px 0px; color: #545968; font-size: 14px;">{{'CREATE_PERM_SUB'|translate}}
        </div>
    </div>
    <button mat-fab color="primary" (click)="openBottomSheet()"
        *ngIf="extractResult(canDo('CREATE_PERMISSION')) |async ">{{'ADD'|translate}}</button>
</div>
<ng-container *ngIf="extractResult(canDo('VIEW_PERMISSION'))|async">
    <mat-tab-group>
        <mat-tab label="{{'COMMON_PERMISSION'|translate}}">
            <div style="width: 230px; margin-top: 16px;">
                <lib-factory [formId]="viewFormId"></lib-factory>
            </div>
            <ng-container *ngIf="viewType==='LIST_VIEW'">
                <app-search (search)="doSearchWrapperCommon($event)" [searchConfigs]="searchConfigs"
                    [emitEvent]="false">
                </app-search>
                <div
                    style="display: flex;flex-direction: row;align-items: center;height: 56px; justify-content: space-between;">
                    <section>
                    </section>
                    <app-table-column-config [formId]="formId"></app-table-column-config>
                </div>
                <div>
                    <div class="table-container">
                        <table mat-table [dataSource]="dataSource">
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> {{columnList['id']|translate}}
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <app-copy-field [inputValue]="row.id"></app-copy-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> {{columnList['name']|translate}}
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="row.systemCreate">
                                        {{row.name |translate}}
                                    </ng-container>
                                    <ng-container *ngIf="!row.systemCreate">
                                        {{row.name}}
                                    </ng-container>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> {{columnList['type']|translate}}
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    {{row.type|translate}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef class="table-icon">
                                    {{columnList['edit']|translate}}</th>
                                <td mat-cell *matCellDef="let row" class="table-icon">
                                    <mat-icon *ngIf="!row.systemCreate" (click)="openBottomSheet(row.id)"
                                        [color]="'primary'">edit</mat-icon>
                                    <mat-icon *ngIf="row.systemCreate" aria-disabled [color]="'warn'">block</mat-icon>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="clone">
                                <th mat-header-cell *matHeaderCellDef class="table-icon">
                                    {{columnList['clone']|translate}}</th>
                                <td mat-cell *matCellDef="let row" class="table-icon"
                                    style="padding-right: 14px !important; ">
                                    <mat-icon *ngIf="!row.systemCreate" (click)="doClone(row.id)"
                                        [color]="'primary'">file_copy</mat-icon>
                                    <mat-icon *ngIf="row.systemCreate" aria-disabled [color]="'warn'">block</mat-icon>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef class="table-icon">
                                    {{columnList['delete']|translate}}</th>
                                <td mat-cell *matCellDef="let row" class="table-icon">
                                    <mat-icon *ngIf="!row.systemCreate" (click)="doDeleteById(row.id)"
                                        [color]="'warn'">delete_outline</mat-icon>
                                    <mat-icon *ngIf="row.systemCreate" aria-disabled [color]="'warn'">block</mat-icon>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
                        </table>
                    </div>

                    <mat-paginator [showFirstLastButtons]="true" [length]="totoalItemCount"
                        [pageIndex]="entitySvc.pageNumber" [pageSize]="pageSize" (page)="pageHandler($event)">
                    </mat-paginator>
                </div>
            </ng-container>
            <div *ngIf="viewType==='DYNAMIC_TREE_VIEW'">
                <app-dynamic-tree [loadRoot]="loadRoot" [loadChildren]="loadChildren"></app-dynamic-tree>
            </div>
        </mat-tab>
        <mat-tab label="{{'API_PERMISSION'|translate}}">
            <div>
                <div class="table-container">
                    <table mat-table [dataSource]="apiDataSource">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> {{columnList['id']|translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                <app-copy-field [inputValue]="row.id"></app-copy-field>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> {{columnList['name']|translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.name}}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedApiColumns(); sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedApiColumns();"></tr>
                    </table>
                </div>

                <mat-paginator [showFirstLastButtons]="true" [length]="apiTotoalItemCount" [pageIndex]="apiPageNumber"
                    [pageSize]="apiPageSize" (page)="apiPageHandler($event)">
                </mat-paginator>
            </div>
        </mat-tab>
    </mat-tab-group>
</ng-container>