.forget-pwd {
  margin-top: 16px;
  font: 16px;
  color: #007EFF;
  cursor: pointer;
}

.forget-pwd:hover {
  cursor: pointer;
}

.login-msg {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}