<div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 16px;">
    <div style="font-size: 24px; font-weight: 500;">{{'CREATE_CLIENT'|translate}}</div>
    <button mat-button (click)="dismiss($event)">
        <mat-icon>close </mat-icon>
    </button>
</div>
<lib-factory [formId]="formId"></lib-factory>
<div style="display: flex; justify-content: end; align-items: center;">
    <button mat-raised-button  (click)="dismiss($event)" style="margin-right: 16px;">{{'CANCEL'|translate}}</button>
    <button mat-raised-button color="primary" (click)="create()">{{'CREATE'|translate}}</button>
</div>