
<div>
    <h2>{{'MY_PROFILE_DETAIL'|translate}}</h2>
    <div style="display: flex; margin-bottom: 16px;align-items: center;">
        <div style="margin-right: 16px;">{{'USER_ID'|translate}}</div>
        <div>{{currentUser?.id}}</div>
    </div>
    <div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
        <div style="margin-right: 16px;">{{'USER_EMAIL'|translate}}</div>
        <div>{{currentUser?.email}}</div>
    </div>
    <div style="display: flex; margin-bottom: 16px;align-items:flex-end;">
        <div style="margin-right: 16px;">{{'CREATED_AT'|translate}}</div>
        <div>{{currentUser?.createdAt|date:'M/d/yy, h:mm:ss a'}}</div>
    </div>
    <lib-factory [formId]="formId" [formInfo]="formInfo"></lib-factory>
    <button mat-raised-button color="primary" style="margin-bottom: 20px;margin-top: 20px;"
    (click)="update()">{{'UPDATE'|translate}}</button>
</div>